@model host_NET45_MVC.Areas.PtsWorker.Controllers.EmailGeneratorController.ContractAndPoDetailsViewModel

@{
    Layout = null;
    string localhost = PTS_App_Code_VB_Project.PTS_MERCURY.helper.Garbage.MagicString.PTSHostAdress;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>POHasBeenUpdated</title>
    <style>
        .table_ {
            border-style: solid;
            border-color: black;
            border-width: medium;
            margin: 10px;
            background-color: #F8F9F9;
            color: #566573;
        }

        td {
            vertical-align: top;
        }

        .header_ {
            font-weight: bold;
            width: 250px;
            padding: 3px;
            border-bottom-style: solid;
            border-bottom-color: lightgray;
            border-bottom-width: 1px;
        }

        .header_gridview {
            font-weight: bold;
            padding: 3px;
            border-bottom-style: solid;
            border-bottom-color: lightgray;
            border-bottom-width: 1px;
        }

        .second_ {
            width: 250px;
            padding: 3px;
            border-bottom-style: solid;
            border-bottom-color: lightgray;
            border-bottom-width: 1px;
        }

        .second_gridview {
            padding: 3px;
            border-bottom-style: solid;
            border-bottom-color: lightgray;
            border-bottom-width: 1px;
        }
    </style>

</head>
<body>

    <div>
        @BodyTexts.Ref("14rJmYrfFEKaKEn+mQ+QvQ", BodyTexts.Lang.rus)
        <br /><br />
        @BodyTexts.Ref("jE0AOHhtgEOuIySxan85XA", BodyTexts.Lang.rus)
        <br /><br />
        <a href="@localhost/webforms/invoicedefine.aspx?pono=@Model.PoDetails.PoNo" target="_blank">@BodyTexts.Ref("SWB5ZkPQu02f53WI4LSaiw", BodyTexts.Lang.rus)</a> | <a href="@localhost/webforms/Contractdetails.aspx?contractid=@Model.ContractDetails.ContractDetails.ContractID" target="_blank">@BodyTexts.Ref("yGauYIsadkuvR9U7BuMJ+Q", BodyTexts.Lang.rus)</a> | <a href="@localhost/webforms/Podetails.aspx?pono=@Model.PoDetails.PoNo" target="_blank">@BodyTexts.Ref("aZ5BexGcwkKuPnXdn5Cfxw", BodyTexts.Lang.rus)</a>
        <br /><br />
        @BodyTexts.Ref("Nf2JLATCzUiyPyFyQo/vMA", BodyTexts.Lang.rus)
        <br /><br />
        @BodyTexts.Ref("rJcexh1YzU66g0RpaaAIRw", BodyTexts.Lang.rus)

        <hr />

        @Html.Partial("_ViewPoDetails", Model.PoDetails)
        <hr />
        @Html.Partial("_ViewContractDetailsForEmailNotification", Model.ContractDetails)

    </div>
</body>
</html>
