@model PTS_App_Code_VB_Project.PTS_MERCURY.db.Table2_PONo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table2_PONo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PO_Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PO_Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VATpercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATpercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PO_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PO_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromAccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scenario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scenario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrameContractPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrameContractPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrameContractID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrameContractID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Table6_Supplier.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Table6_Supplier.SupplierName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Table7_CostCode.CostVidisionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Table7_CostCode.CostVidisionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Table1_Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Table1_Project.ProjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PO_No }) |
    @Html.ActionLink("Back to List", "Index")
</p>
