@using PTS_App_Code_VB_Project.PTS_MERCURY.helper

<div class="row">
    <ul class="col-xs-2 list-unstyled">
        <li>
            <p><strong>@BodyTexts.Ref("33HRnsxsc0aaZpvXTRqzvw")</strong></p>
        </li>
        <li><a href="~/webforms/pocreate.aspx" title="">@BodyTexts.Ref("ny7QVq3na0asTTEXQWIkpA")</a></li>
        <li><a href="~/webforms/invoicedefine.aspx" title="">@BodyTexts.Ref("iOfDIt5gbUC+WSAvJCspHQ")</a></li>
        <li><a href="~/webforms/paymentrequest.aspx" title="">@BodyTexts.Ref("7AE4/TcymUaX9n2jKn3VeA")</a></li>
        <li><a href="~/webforms/paylog.aspx" title="">@BodyTexts.Ref("NmGc40A2gU6P1CeuGFZdAA")</a></li>
        <li><a href="~/webforms/editpo.aspx" title="">@BodyTexts.Ref("N9ypTKk4pEO4ZiCDXmg1rg")</a></li>
        <li><a href="~/webforms/editinvoice.aspx" title="">@BodyTexts.Ref("Qo6/JsT9yE2QlUsifyfaOQ")</a></li>
        <li><a href="~/webforms/editpaymentreq.aspx" title="">@BodyTexts.Ref("NDao8vdd3EO+0ew52suJMA")</a></li>
        <li><a href="~/webforms/editpaylog.aspx" title="">Edit Payments</a></li>

    </ul>
    <ul class="col-xs-2 list-unstyled">
        <li>
            <p><strong>@BodyTexts.Ref("YaWapGJ+yUivqs+C4wq5cQ")</strong></p>
        </li>
        <li><a href="~/webforms/Monitoring.aspx" title="">@BodyTexts.Ref("SoTUzCFs1EWX44Fp5mgIwQ")</a></li>
        <li><a href="~/webforms/Pendinglist.aspx" title="">@BodyTexts.Ref("2WnP8WK9GEyFS3NXwizXsg")</a></li>
        <li><a href="~/webforms/PackingListToday.aspx" title="">@BodyTexts.Ref("nwuBTlazpk2Zinp7G2jmVg")</a></li>
        <li><a href="~/webforms/Payments.aspx" title="">@BodyTexts.Ref("pQcTBH7qVE+LeJmSS6ovqA")</a></li>
        <li><a href="~/webforms/open_po.aspx" title="">@BodyTexts.Ref("Tjfkr/nOOEiZJKyxvAF6gw")</a></li>

    </ul>
    <ul class="col-xs-2 list-unstyled">
        <li>
            <p><strong>@BodyTexts.Ref("yHgFuzOmwEeHCmVTXTAeRw")</strong></p>
        </li>
        <li><a href="~/webforms/FollowUpReport.aspx" title="">@BodyTexts.Ref("NYEJywwEmUOGT0d4jvyG+g")</a></li>
        <li><a href="~/webforms/FollowUpReportWithVAT.aspx" title="">@BodyTexts.Ref("JwH73THr4Ei+NOL4LxUtBw")</a></li>
        <li><a href="~/webforms/FollowUpReportBySupplierExcVAT.aspx" title="">@BodyTexts.Ref("Dml3qUQB0USdpj7Za4WDNQ")</a></li>
        <li><a href="~/webforms/FollowUpReportBySupplierWithVAT.aspx" title="">@BodyTexts.Ref("tgnFhllmb0m0HzwfLGGm9w")</a></li>
        <li><a href="~/webforms/FollowUpReport2.aspx" title="">@BodyTexts.Ref("Vdfi1o9ZBEGQjNyGZs23xA")</a></li>
        <li><a href="~/webforms/CostReport.aspx" title="">@BodyTexts.Ref("1u3jVRtW90WwWUYiSAX61w")</a></li>
    </ul>
    <ul class="col-xs-2 list-unstyled">
        <li>
            <p><strong>@BodyTexts.Ref("VevN9KredkaKqwlI1Xxgjg")</strong></p>
        </li>
        <li><a href="~/webforms/POforeignCurrency.aspx" title="">@BodyTexts.Ref("d6lUIqhnnkiXEuF6+CWwGA")</a></li>
        <li><a href="~/webforms/ProjectBalanceBreakdown.aspx" title="">@BodyTexts.Ref("oeyaGclgZEe20mK5urhAqw")</a></li>
        <li><a href="~/webforms/salaryBreakdown.aspx" title="">@BodyTexts.Ref("JCYlO//cZ0e/R7KkSk3Dzg")</a></li>
        <li><a href="~/webforms/1StoPTS_summary.aspx" title="">@BodyTexts.Ref("YSbA5hy45UK/p59g+qqyyQ")</a></li>
        <li><a href="~/webforms/CostReportEdit.aspx" title="">@BodyTexts.Ref("Nq11fDQEpUKAmfRXrAahaA")</a></li>
        <li><a href="~/webforms/fixrates.aspx" title="">@BodyTexts.Ref("6glt/3uyEUehY7mNa/F/DQ")</a></li>
    </ul>
</div>
<div class="row">
    <ul class="col-xs-2 list-unstyled">
        <li>
            <p><strong>@BodyTexts.Ref("deEsUg+3zEygyW1WBJXtxg")</strong></p>
        </li>
        <li><a href="~/webforms/contractview.aspx" title="">@BodyTexts.Ref("QWtUWSkZG0em5Z7A0glKkw")</a></li>
        <li><a href="~/webforms/contractenter.aspx" title="">@BodyTexts.Ref("75nrW8O1RkyrxtbieIwANg")</a></li>
        <li><a href="~/webforms/contractnotes.aspx" title="">@BodyTexts.Ref("yyIdHVInakioXk/OxZA4NQ")</a></li>
        <li><a href="~/webforms/ContractAddendumPaymentKC.aspx" title="">@BodyTexts.Ref("C1xC/5xdtEuWu5IYahsowA")</a></li>

    </ul>
    <ul class="col-xs-2 list-unstyled">
        <li>
            <p><strong>@BodyTexts.Ref("0qbL/NNxpUur7JbfTgkoXw")</strong></p>
        </li>
        <li><a href="~/webforms/ContractAddendums.aspx" title="">@BodyTexts.Ref("Q+FUhS9oUki6CXNxCHSWHA")</a></li>
        <li><a href="~/webforms/projects.aspx" title="">@BodyTexts.Ref("RP188SXmy0uJtiel++cFyQ")</a></li>
        <li><a href="~/webforms/EditSupplier.aspx" title="">@BodyTexts.Ref("QTwGHRpH8EaTNZkyXO2D3A")</a></li>
        <li><a href="~/webforms/SearchInvoice.aspx" title="">@BodyTexts.Ref("x/slU4rYmkSvuBtKR49oQg")</a></li>
    </ul>
    <ul class="col-xs-2 list-unstyled">
        <li>
            <p><strong>@BodyTexts.Ref("+tpSYWoE/0Cx/uPu/yJIog")</strong></p>
        </li>
        <li><a href="~/webforms/nakladnaya.aspx" title="">@BodyTexts.Ref("Pz+mPZLxokWK6hLLmGOqkw")</a></li>
        <li><a href="~/webforms/missingdocs.aspx" title="">@BodyTexts.Ref("AkIdkI/q/EeSA+qcEVF8+g")</a></li>
        <li><a href="~/webforms/PTS_1S_DeliveryDocComparison.aspx" title="">@BodyTexts.Ref("hAtI6NajQEqf3ntR/28QDg")</a></li>
        <li><a href="~/webforms/DeliveryReport.aspx" title="">@BodyTexts.Ref("a/qLa15a9kKOmPiQBvYw0Q")</a></li>
        <li><a href="~/webforms/PTS_1S_DeliverySearchPTSEntry.aspx" title="">@BodyTexts.Ref("xNizaiYClU2xMBjgHoCrRg")</a></li>

    </ul>
    <ul class="col-xs-2 list-unstyled">
        <li>
            <p><strong>@BodyTexts.Ref("0Sh/69tcP0aGTjYtD0kxxg")</strong></p>
        </li>
        <li><a href="~/webforms/PoApprovalFrame.aspx" title="">@BodyTexts.Ref("YlxPf1O6iUiuDsKK7SneBw")</a></li>
        <li><a href="~/webforms/ApprovalMatrix.aspx" title="">@BodyTexts.Ref("KMpM7Up4H0miRnYJuPBH/Q")</a></li>
        <li><a href="~/webforms/PR_PMapproval.aspx" title="">@BodyTexts.Ref("+8WzPBdVPkGxh+7O8FLNow")</a></li>
    </ul>

</div>
